html {
    height: 100vh;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

@font-face {
    font-family: Nordic;
    src: url('Norse-Bold.otf');
}
.logo {
    flex: 3;
    background-image: url('./halie-west-25xggax4bSA-unsplash.jpg');
    color: white;
    font-family: Nordic;
    font-size: 50px;
}

.logo-banner {
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 200px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-banner > img {
    height: 125px;
    width: 100px;
}

.logo-banner > h1 {
    margin: 0;
}

.sign-up {
    flex: 7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #eee;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 80px 0px;
}

.sign-up > * {
    padding-left: 50px;
}

.header-text {
    padding-bottom: 40px;
}

form {
    background-color: white;
    box-shadow: 0 4px 2px -2px gray;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
    appearance: none;
}

.inputs {
    display: flex;
    gap: 10px;
}

.inputs > div {
    flex: 1;
    display: flex;
    flex-direction: column;
}

input {
    width: 80%;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 30px;
    border: solid 2px #E5E7EB;
    border-radius: 5px;
    outline: none; /* Remove chrome outline */
}

input:focus {
    border-color: rgba(7, 20, 199, 0.599);
    box-shadow: 2px 2px 5px 1px rgba(51, 50, 50, 0.5);
}

input:invalid {
    border-color: rgba(237, 6, 6, 0.687);
}

label {
    font-weight: 600;
    color: rgba(51, 50, 50, 0.9);
    font-size: 16px;
}

form > legend {
    font-size: 24px;
}

.submit-section {
    background-color: hsl(0, 0%, 93%);
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.submit-section > button {
    height: 40px;
    padding: 0px 60px;
    background-color: #596D48;
    color: white;
    border: #596D48;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 1px rgba(51, 50, 50, 0.5);
}

.submit-section > p {
    font-size: 16px;
}

a {
    color: #596D48;
    text-decoration: none;
}