html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 400px;
    background-color: azure;
    border: 1px solid;
    border-radius: 10px;
}

.calculator div {
    flex: 1;
}

#display {
    flex: 2;
    display: flex;
}

.display-content {
    flex: 1;
    margin: 20px 20px 10px 20px;
    background-color: white;
    border: 1px solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
}

.display-content p {
    margin: 0px 20px 0px 0px;
}

.previous-operation {
    font-size: 18px;
}

.current-operand {
    font-size: 40px;
}

.first-row {
    display: flex;
    justify-content: space-evenly;
}