html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    height: 500px;
    width: 350px;
    background-color: azure;
    border: 1px solid;
    border-radius: 10px;
}

.calculator div {
    flex: 1;
    display: flex;
    gap: 15px;
}

#display {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.display-content {
    padding: 15px;
    background-color: white;
    border: 1px solid;
    border-radius: 5px;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
}

.display-content p {
    margin: 0;
}

.previous-operation {
    font-size: 18px;
}

.current-operand {
    font-size: 40px;
}

button {
    flex: 1;
    border: 1px solid;
    border-radius: 5px;
    font-size: 20px;
}