body {
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.heading {
    background-color: #1f2937;
    flex: 1;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15%;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    
}

ul {
    list-style: none;
    padding: 0;
}

li {
    color: #e5e7eb;
    font-size: 18px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.header-main {
    display: flex;
    padding: 0 15%;
    margin: 100px 0px;
}

.header-main h1 {
    margin: 0;
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

.header-main p {
    color: #e5e7eb;
    font-size: 18px;
    margin: 0;
}

.header-main-left {
    flex: 1 1 50%;
    padding-right: 50px;
}

.header-main-left button {
    margin: 10px 0px;
}

.header-main-right {
    background-color: #e5e7eb;
    flex: 1 1 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
}

.list-items {
    display: flex;
    gap: 50px;
}

.item {
    height: 250px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item p {
    text-align: center;
}

.box-border {
    flex: 1;
    width: 200px;
    border: 3px solid #3882f6;
    border-radius: 5px;
}

.quote {
    background-color: #e5e7eb;
    flex: 1;
}

.action {
    flex: 1;
}

.action_box {
    background-color: #3882f6;
}

button {
    background-color: #3882f6;
    border-radius: 5px;
    color: #e5e7eb;
    padding: 5px 20px;
    border: none;
}

.footer {
    background-color: #1f2937;
}