@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    height: 100vh;
}
body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 3fr;
}

.sidebar {
    background-color: #083344;
    color: white;
    grid-row: 1 / -1;
    padding: 20px;
}

.sidebar > div {
    margin-bottom: 50px;
}

.dashboard, 
.navigation > div,
.extras > div {
    display: flex;
    align-items: center;
    gap: 20px;
}

svg {
    height: 25px;
    fill: white;
}

.dashboard svg {
    height: 50px;
}

h2, h3, h4 {
    margin: 0;    
}

.navigation, .extras {
    display: grid;
    gap: 20px;
}

.header {
    background-color: #06b6d4;
    color: white;
    padding: 20px 40px;

    display: grid;
    grid-template: 1fr 1fr / 6fr 4fr;
    column-gap: 40px;
    row-gap: 20px;
}

.header img {
    height: 50px;
}

.search {
    display: flex;
    align-items: center;
    gap: 20px;
}

.notification {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 30px;
}

.welcome {
    display: grid;
    grid-template: 1fr 1fr / 1fr 9fr;
    align-items: center;
    column-gap: 10px;
}

.welcome img {
    grid-row: 1 / -1;
    height: 60px;
}


.search input {
    flex: 1;
    border: none;
    border-radius: 10px;
    height: 25px;
}

.buttons {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
}

.buttons > button {
    background-color: #083344;
    color: white;
    border: none;
    border-radius: 20px;
}

.content {
    background-color: #ecfeff;
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-template-rows: 1fr;
    padding: 20px;
}

.content .projects {
    display: grid;
    grid-template: auto repeat(3, 1fr) / repeat(2, 1fr);
    gap: 10px;
}

.content h3 {
    color: #083344;
    grid-column: 1 / -1;
}

.projects .project-card {
    background-color: white;
    border: 1px solid #06b6d4;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 50fr;
}

.project-card .color-sliver {
    background-color: #06b6d4;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.project-card .description {
    padding: 20px;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    gap: 5px;
}

.description .icons {
    justify-self: end;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
}

.icons svg {
    fill: #585858;
}

.description h4 {
    color: #585858;
}

.content .side-column {
    display: grid;
    grid-template-rows: 1fr 1fr;
}