body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    flex: 0.10;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    border: 1px solid black;
}

.title {
    font-size: 36px;
}

.content {
    flex: 0.9;
    display: flex;
    flex-wrap: wrap;
}

.sidebar {
    flex: 0.20;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: azure;
}

.sidebar .header {
    font-size: 24px;
}

.sidebar .header hr {
    border: 1px solid black;
}

.sidebar .categories {
    display: flex;
    flex-direction: column;
}

.categories button {
    font-size: 20px;
    border: none;
    background-color: azure;
    display: flex;
    padding: 10px;
}

.categories button:hover, button:focus {
    background-color: aliceblue;
}

.todo-list {
    padding: 30px 50px;
    flex: 0.80;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: azure;
}

.todo-list .header {
    height: 50px;
    padding: 20px;
    margin-bottom: 10px;
    font-size: 40px;
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-list button {
    font-size: 20px;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
}

.todo-item div.name {
    flex: 1;
    display: flex;
}

button.toggle {
    width: 40px;
    border: none;
    padding: 0;
}

.star {
    color: gold;
}

.check_box, .add_box {
    color: green;
}

.delete {
    color: red;
}

span.hidden {
    display: none;
}